.header-menu {
  border: 1px solid gray;
}
.header-title {
  padding-right: 1em;
  /* margin: auto; */
  text-align: left;
  padding-left: 1em;
  /* border-bottom: 1px solid gray; */
  font-size: 1.5em;
  width: 10em;
}

.header-title a {
  text-decoration: none;
}
.header-title a i {
  width: 1em;
}

.header-right {
  right: 1em;
  font-size: 1.5em;
  position: absolute;
}

.header-right ul {
  text-align: center;
  list-style: none;
}

.header-right ul li {
  display: inline-block;
  text-align: center;
  padding: 0em 1em;
  border-left: 1px solid gray;
}

.header-right ul :hover {
  background-color: gray;
  cursor: pointer;
}

.menu-show {
  border-right: 1px solid gray;
}

.menu-show ul {
  list-style: none;
}

.menu-show ul li a {
  text-decoration: none;
}

.content {
  background-color: #f0f5f5;
}

.content .store-info {
  border: 1px solid gray;
  background-color: white;
}

.content .store-info p {
  font-weight: bold;
}

.content .store-info ul {
  list-style: none;
}
